/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

h1 {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 26px;
  color: black;
  margin: 0;
}

h2 {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 26px;
  color: black;
  margin: 0;
}

h3 {
  font-size: 1.125rem;
  line-height: 21px;
  margin: 0;
}

h4 {
  font-size: 1rem;
  line-height: 19px;
  margin: 0;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 19px;
  margin: 0;
}

a {
  font-size: 1rem;
  line-height: 19px;
  color: black;
  text-decoration: none;
  margin: 0;
}

b {
  font-size: 1.125rem;
  line-height: 21px;
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

header {
  height: 79px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header img {
  width: 61.09px;
  height: 19px;
  margin: 30px 0;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 32px;
  margin-bottom: 47px;
}

nav a {
  display: block;
  font-weight: 400;
  margin-left: 69px;
  padding-top: 16px;
}

nav a:hover,
nav a:active {
  color: #0065fc;
  border-top: 1px solid #0065fc;
}

/****** Rents And Populars ***********/
.rents-and-populars {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
/* Inclu le slogan, la barre de recherche, les filtres et le nombre de resultat de recherche disponible || Include the catchword, the search bar, the filters and the number of results avaible */

/****** Search Input *******************/
.search-part-title p {
  margin-top: 8px;
  font-weight: 400;
}

.search-part-form {
  display: flex;
  flex-direction: row;
  height: 49px;
  width: 100%;
  margin-top: 35px;
}
/* la barre de recherche || the search bar */

.search-grey-part {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  width: 50px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}
/* La partie gauche de la barre de recherche || The left part of the search bar */

.rents-and-populars input {
  border-left: none;
  border-right: none;
  width: 195px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  font-size: 1.125rem;
  font-weight: 700;
  padding-left: 24px;
}

.rents-search-button {
  position: relative;
}
/* "position: relative" pour pouvoir utiliser "display: none" pour le bouton de recherche (voir plus bas) || "position: relative" to allow the use of "display: none" for the button (see bellow) */

.rents-search-button-1 {
  position: absolute;
  display: block;
  border: none;
  background-color: #0065fc;
  width: 132px;
  color: white;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 14px 16px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.rents-search-button-2 {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #0065fc;
  height: 49px;
  width: 49px;
  color: white;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
/* "display: none" n'affichera pas ce bouton pour les resolution d'écran ≠ @media (max-width: 768px) || "display: none" will not show this button for screen resolution ≠ @media (max-width: 768px) */

/****** Search Filters ***********/
.rents-filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 35px;
  font-size: 1.0625em;
  gap: 10px;
}

.filters-choice {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.filter i,
p {
  display: block;
  font-weight: 700;
}
/* de inline à block pour permettre la mise en forme ci-dessous || from inline to block to allow the shaping bellow */

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  height: 50px;
  gap: 10px;
  padding: 0 19px;
  border: 2px solid #d9d9d9;
  border-radius: 30px;
}

.filter:hover {
  background-color: #deebff;
}

/****** Rents Number **************/
.rents-number {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 35px;
}
/* nombre de resulltats de recherche || search results number */

.fa-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
}

.rents-number p {
  display: block;
  font-weight: 400;
}

/****** Results **************/
.results {
  margin: 35px 0;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
/* ".results" pour la mise en page des sections Hébergements et Plus Populaires || ".results" for the layout of the Rents and Most Populars parts */

.rents,
.populars {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Rents ****************/
.rents {
  width: 65%;
}
/* section Hébergements || Rents part */

.rents-cards {
  margin: 30px 0;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 30px;
}

.rent-card-link {
  display: block;
}

.rents-cards .card {
  display: flex;
  flex-direction: column;
}

.rents-cards img {
  width: 100%;
  height: 124px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.rents-cards .card-content {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  box-sizing: border-box;
}

.rents-cards .card-title {
  margin-top: 4px;
  margin-bottom: 0;
}

.rents-cards .card-subtitle {
  margin: 8px 0;
}

/****** Populars **************/
.populars {
  width: 32%;
}
/* section Plus Populaires || Most Populars part */

.populars-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.populars-cards {
  display: flex;
  flex-direction: column;
}

.popular-card-link {
  display: block;
  margin-top: 30px;
}

.populars-cards .card {
  display: flex;
  flex-direction: row;
}

.populars-cards img {
  width: 33%;
  height: 144px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populars-cards .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 67%;
  padding-left: 15px;
  box-sizing: border-box;
}

.populars-cards .card-title {
  margin-top: 15px;
  margin-bottom: 5px;
}

.populars-cards .card-rating {
  margin-bottom: 10px;
}

/****** Activities **********/
.activities {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.activities-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
  gap: 30px;
}

.activity-card-link {
  display: block;
  width: 22.3%;
}
/* "width: 22.3%" valeur obtenue à l'aide des outils de dévellopement de Chrome pour avoir ≈ 80px de marge sur les côtés quand la résolution d'écran = @media (max-width: 1024px) || "width: 22.3%" value obtained thanks to Chrome DevTools to have ≈ 80px space on the sides when screen resolution = @media (max-width: 1024px) */

.activity-card-link .card {
  display: flex;
  flex-direction: column;
  max-height: 538px;
  height: 100%;
  padding: 0;
}
/* "max-height: 538px" pour que les cartes est la même hauteur quand des titre s'etendent sur deux lignes || "max-height: 528px" make the cards keep the same height when some title breaks into two lines */

.activity-card-link img {
  height: 400px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activity-card-link .card-content {
  padding: 20px 19px;
}

/****** Cards ***************/
.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-title {
  font-size: 1rem;
  line-height: 19px;
}

.card-subtitle {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 16px;
}

.euro {
  font-weight: 700;
}

.fa-solid {
  color: var(--main-color);
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Footer ******************/
.related-infos {
  margin-top: 65px;
  height: 120px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #f2f2f2;
}

.related-infos-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.related-infos a {
  margin-top: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .rents-filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  /* "flex-direction: column" pour avoir le titre et les filtres sur deux lignes || "flex-direction: column" to have the title and the filters choice in two lines */

  .results {
    flex-direction: column;
    gap: 50px;
  }
  /* les section de resultats passent en affichage colonne || the results sections are now shown in column mode */

  .rents {
    width: 100%;
  }

  .populars {
    width: 100%;
  }

  .populars-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  /* les resultats Plus Populaires sont afficher sur une ligne || the Most Populars results are shown in on line */

  .popular-card-link {
    width: 30%;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
  .main-container {
    padding: 0;
  }

  header img, header nav {
    display: block;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110px;
  }
  /* le header passe en affichege centré || the header is now shown centered */

  header img {
    margin: 30px 0;
  }

  header nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
  }
  /* rappel de "display: flex" et "flex-direction: row" sinon heritage du header || recall of "display: flex" and "flex-direction: row" otherwise inherit header */

  nav a {
    width: 50%;
    text-align: center;
    margin-left: 0;
    padding: 0 0 15px;
  }

  nav a:hover,
  nav a:active {
    color: #0065fc;
    border-top: 0;
    border-bottom: 1px #0065fc solid;
  }

  .rents-and-populars {
    width: 100%;
    margin-top: 10px;
  }

  .search-part {
    padding: 20px;
  }

  .rents-and-populars input {
    width: 188px;
  }
  /* la taille de la barre de recherche diminue || the serch bar is downsized */

  .rents-search-button-1 {
    display: none;
  }
  /* "display: none" n'affichera pas ce bouton pour les resolution ≤ @media (max-width: 768px) || "display: none" will not show this button for screen resolution ≤ @media (max-width: 768px) */

  .rents-search-button-2 {
    display: flex;
  }
  /* affichage de ce boutton || this button is now shown */

  .filters-choice {
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    gap: 20px;
  }
  /* wrapping pour que les bouttons de filtres s'adaptent à la résolution d'écran || wrapping to adapt the filters buttons to the screen resolution */

  .filter {
    justify-content: center;
    width: 25%;
    padding: 0 26px;
    flex: 1 1 auto;
  }
  /* "width: 25%" pour avoir deux lignes de filtres (avec width < 25% on obtient une ligne de trois filtres et une autre avec un seul (wrapping)) || "width: 25%" to have two lines of two filters (with width < 25% we have one line of three filters and another line with the last one (wrapping)) */

  .filter p {
    font-size: 0.875rem;
  }

  .results {
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
  }
  /* "flex-direction: column-reverse" la section Plus Populaires et affichée avant la section Hébergements || "flex-direction: column-reverse" the Most Populars section is shown before the Rents section*/

  .populars {
    width: 100%;
    padding: 30px 20px;
    border-radius: 0px;
  }

  .populars-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
  }

  .popular-card-link {
    width: 100%;
  }

  .populars-cards .card {
    margin: 0;
  }

  .rents {
    padding: 20px;
    background-color: white;
  }

  .rents-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 15px 0;
  }

  .activities {
    padding: 30px;
    margin-top: 5px;
  }

  .activities-cards {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 0;
    gap: 15px;
  }

  .activity-card-link {
    width: 100%;
  }

  .activities-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .activities-cards img {
    height: 141px;
  }

  .related-infos {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: auto;
    padding: 30px;
    background-color: #f2f2f2;
  }
}
